@import "../abstracts/_colors.scss";

.first-screenshot__button {
  background-color: $PRIMARY-BUTTON-BG;
  color: $WHITE;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  font-family: sans-serif;
  position: relative;
  text-transform: uppercase;

  .first-screenshot__tooltip{
    visibility: hidden;
    width: 100px;
    background-color: #383838;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    font-weight: normal;
    line-height: 1.5;
    font-size: 12px;
    text-transform: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .first-screenshot__tooltip--top {
    bottom: 150%;
    left: 50%;
    margin-left: calc(-50% - 4px);

    &::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  .first-screenshot__tooltip--left {
    right: 120%;
    top: 50%;
    transform: translateY(-50%); 

    &::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  .first-screenshot__tooltip--right {
    left: 120%;
    top: 50%;
    transform: translateY(-50%); 

    &::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  .first-screenshot__tooltip--bottom {
    top: 150%;
    left: 50%;
    margin-left: calc(-50% - 4px);

    &::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  &:hover .first-screenshot__tooltip {
    visibility: visible;
  }
}
